.button {
  padding: 10px 20px;
  background-color: $color__primary;
  position: relative;

  overflow: hidden;
  border-radius: 5px;

  font-weight: 500;

  cursor: pointer;

}
.active {
  .wave {
    animation: wave-animation .8s;
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  border-radius: 100%;

  background: rgba($color__dark, .5);

  transform: scale(0);

}

@keyframes wave-animation {

  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes slide-animation {

  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  50% {
    transform: translateX(150%);
    opacity: 0;
  }

  51% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
