@import 'core/global';
@import '~normalize.css';
@import 'typography';
@import 'animation';
@import 'components';
@import 'services';
//@import 'pages';

* {
  box-sizing: border-box;


  &:active, &:focus, &:hover {
    outline: 0;
  }
}

html {
  scroll-behavior: smooth;

}

html,body {
  overscroll-behavior-y: none;
}

