
.custom-checkbox {
  margin: 10px 0 0 20px;
  opacity: 0;
  position: absolute;
  z-index: -1;

  & + label {

    cursor: pointer;
    padding: 0 0 0 30px;
    position: relative;


    &::before {
      @include pseudoElement(20px);
      border: 1px solid black;
      left: 0;
      top: 0;

      transition: 0.2s;
    }

    &::after {
      @include pseudoElement(12px);
      background: $color__light;
      left: 4px;
      top: 4px;
      transition: 0.2s;
    }
  }


  &:checked {
    & + label::before {
      //background: #fff;
    }

    & + label::after {
      background: black;
    }
  }
}

//label.switch
//  input.checkbox
//  span.slider.round

.switch {
  width: 60px;
  height: 34px;
  display: inline-block;
  position: relative;

  input {
    width: 0;
    height: 0;

    opacity: 0;
  }
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &::before {
    width: 26px;
    height: 26px;
    background-color: white;
    bottom: 4px;
    content: '';
    left: 4px;
    position: absolute;
    transition: 0.4s;
  }

  &.round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked + .slider {
    background-color: #2196f3;

    &::before {
      transform: translateX(26px);
    }
  }

  &:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
}

