.container {
  max-width: 1200px;

  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  &-fluid {
    @extend .container;
    max-width: 100%;
  }

  @include breakpoint ($mobile__all) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include breakpoint ($phone__all) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.section-component {
  padding: 70px 0;

  background-color: $color__dark;

  &__title {
    margin-bottom: 30px;

    color: $color-font__primary;
  }

  &__content {
    position: relative;

    & > p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--light {
    background-color: $color__light;

    .section-component__content {

      & > p {
        color: rgba($color-font__secondary, .5);
      }

    }

    .section-component__title {
      color: $color-font__secondary;
    }
  }
  @include breakpoint ($mobile__all) {
    padding: 50px 0;
  }
}

.section {
  padding: 70px 0;
  @include breakpoint ($mobile__all) {
    padding: 50px 0;
  }
}

.wrapper {
  position: relative;
}
