
//Animation duration
$animation-fast          : .4s;
$animation-medium        : .4s;
$animation-slow          : .8s;

//Loading ring
// class = lds-ring > .div*4
$ring-color                : #66329a;
$ring-animation-duration   : 1.8s;
$ring-weight               : 5px;

